<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="EquipmentSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.24.20.50/ws_oracle/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="OracleService.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://172.24.20.50/ws_oracle/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="OracleService.ServiceSoap" name="ServiceSoap12" />
            <endpoint address="http://sgymhuancayo.gym.com.pe/amtservice/equipment.asmx"
                binding="basicHttpBinding" bindingConfiguration="EquipmentSoap"
                contract="AmtService.EquipmentSoap" name="EquipmentSoap" />
        </client>
    </system.serviceModel>
</configuration>