@model Pe.Stracon.SGC.Presentacion.Core.ViewModel.Base.ReporteViewModel
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    @* <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />*@
    <meta name="viewport" content="width=device-width,initial-scale=1">
    @Scripts.Render("~/bundles/JQuery")
</head>

<body>
    @Html.Partial("~/Areas/Base/Views/Reporte/ReportViewControl.ascx", Model)
</body>
</html>
