<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación "SetAttributes" cambiará el valor de    "connectionString" para que solamente use "ReleaseSQLServer" cuando el localizador "Match"    encuentre un atributo "name" con el valor "MyDB".    <connectionStrings>     <add name="MyDB".        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    </connectionStrings>
  -->
  <connectionStrings>
    <add name="PoliticaDbContextProvider" connectionString="Data Source=10.244.4.24;Initial Catalog=STRACON_POLITICAS;User ID=USR_STRACON_QA;Password=db2015#1;Application Name=GMD_STRACON_DESARROLLO;" providerName="System.Data.sqlclient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--<add name="ApplicationAuditDbContextProvider" connectionString="Data Source=.;Initial Catalog=STRACON_POLITICAS_AUDITORIA;User ID=sa;Password=sql;Application Name=GMD_AUDITORIA;" providerName="System.Data.sqlclient" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Pe.Stracon.Politicas.Presentacion-20150319174740;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Pe.Stracon.Politicas.Presentacion-20150319174740.mdf" />-->
  </connectionStrings>
  
  <system.web>
    
    <!--
      En el ejemplo siguiente, la transformación "Replace" reemplazará toda la 
      sección <customErrors> del archivo web.config..
      Tenga en cuenta que, como solo hay una sección customErrors bajo el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>