
.no-close-dialog .ui-dialog-titlebar-close {
    display: none;
}

.progressBar-custom {
    margin-top: 15px;
}

.progressBar-custom-label {
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: -48px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
