/**********************************************
File : layout.css;
-----------------------------------------------
Description:
   - Reglas para la distribucion
     de los elementos principales.
-----------------------------------------------
Assigned to: Sebastian Yabiku        
/*********************************************/

/*----.GmdWrap*/
/*********************************************/


/*----.GmdHeader*/
/*********************************************/
.Gmd-logo {
    float: left;
    display: block;
    margin: 11px 11px 11px 5px;
    position: relative;
}

    .Gmd-logo:before {
        content: '';
        width: 1px;
        height: 100%;
        background: #ccc;
        position: absolute;
        right: -14px;
    }

.lay-GmdHeader {
    height: 52px;
    border-top: 1px solid #dddedf;
    /*border-bottom: 1px solid #dddedf;*/
    background: #15284b;
    position: fixed;
    width: 100%;
    z-index: 10;
}

    .lay-GmdHeader .logo {
        display: block;
        float: left;
        margin-top: 12px;
        margin-left: 22px;
        min-width: 102px;
        border-right: 1px solid #d9d9d9;
    }

    .lay-GmdHeader h1 {
        float: left;
        margin: 13px;
        font-weight: bold;
        color: #676767;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 16px;
    }

/*----.GmdBody*/
/*********************************************/
.lay-PullBody {
    padding-left: 58px;
}

.lay-MainContent {
    float: left;
    width: 100%;
}

.lay-GmdBody {
    padding: 52px 0 0;
}

    .lay-GmdBody .main-content {
        background: #fff;
        min-height: 950px;
        position: relative;
    }

.GmdBody-header {
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 14px;
    -webkit-box-shadow: 0px 3px 2px #f0f0f0;
    box-shadow: 0px 3px 2px #f0f0f0;
    -moz-box-shadow: 0px 3px 2px #f0f0f0;
}

    .GmdBody-header h2 {
        margin: 0px;
    }

        .GmdBody-header h2 a {
            color: #777;
        }

.GmdBody-body {
    min-height:532px;
    padding: 15px 15px 102px 15px;
}


/*----.GmdFooter*/
/*********************************************/
.lay-GmdFooter {
    background: #15284b;
    color: #fff;
    font-size: 12px;
    height: 52px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9;
}

    .lay-GmdFooter ul {
        padding: 0px;
        margin: 0px;
    }

    .lay-GmdFooter a,
    .lay-GmdFooter p {
        color: #fff;
        font-size: 12px;
    }

    .lay-GmdFooter li {
        list-style: none;
    }

    .lay-GmdFooter .pull-left {
        margin: 18px 0 0 15px;
    }

    .lay-GmdFooter .pull-right {
        margin: 18px 15px 0 0;
    }

        .lay-GmdFooter .pull-right li {
            display: inline-block;
        }

        .lay-GmdFooter .pull-right .title {
            margin-right: 10px;
        }

        .lay-GmdFooter .pull-right a {
            display: block;
            position: relative;
            top: -2px;
        }

td.left {
    text-align: left !important;
}

.area-notificacion {
    min-height: 150px;
}