@using Pe.Stracon.SGC.Presentacion.Recursos.Base
@using Pe.Stracon.SGC.Presentacion.Recursos.Contractual
@using Pe.Stracon.SGC.Presentacion.Recursos.Mensajes
@using Pe.Stracon.SGC.Presentacion.Core.Helpers

@model Pe.Stracon.SGC.Presentacion.Core.ViewModel.Contractual.ActividadesGestionContractual.ActividadesGestionContractualModel
@{
    ViewBag.Title = "Index";
}
<div class="GmdBody-header">
    <h2>@ActividadesGestionContractualResource.EtiquetaTituloPrincipal</h2>
</div>
<div class="GmdBody-body">
</div>