/**********************************************
File : uiExt
-----------------------------------------------
Description:    
   - Dentro de uiExt, definiremos
     las modificaciones o extenciones 
     de las piezas
     de librerias ui externas.
-----------------------------------------------
Assigned to: Sebastian Yabiku        
/*********************************************/



/*----Spinner*/
/*********************************************/
.ui-spinner {
    border:none!important;
    display:block!important;
}
.ui-spinner input {
    /*width:30px;*/
    padding: 7px 24px 7px 7px!important;
    margin:0px;
}

.ui-spinner input,
.ui-spinner input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}

/*----Autocomplete*/
/*********************************************/
.ui-autocomplete-input {
}

    .ui-autocomplete-input,
    .ui-autocomplete-input:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        -moz-box-shadow: none;
    }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:left!important;
}
.ui-dialog-buttonset .ui-button-Confirmar {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    outline: none !important;
    background: #c14044;
    background: -moz-linear-gradient(top, #c14044 0%, #b13b3f 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c14044), color-stop(99%,#b13b3f));
    background: -webkit-linear-gradient(top, #c14044 0%,#b13b3f 99%);
    background: -o-linear-gradient(top, #c14044 0%,#b13b3f 99%);
    background: -ms-linear-gradient(top, #c14044 0%,#b13b3f 99%);
    background: linear-gradient(to bottom, #c14044 0%,#b13b3f 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c14044', endColorstr='#b13b3f',GradientType=0 );
    color: #e8e8e8;
    border: 1px solid #b1b1b1;
    text-transform:capitalize;
}

.ui-dialog-buttonset .ui-button-Cancelar {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    outline: none !important;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e7e7e7 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e7e7e7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e7e7e7 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
    color: #b93e42;
    border: 1px solid #b1b1b1;
    text-transform:capitalize;
}



.DialogProgressbar.ui-dialog .progressBar-custom {
    margin:0px;
}
.DialogProgressbar.ui-dialog .ui-dialog-content {
    height:auto!important;
    padding: 14px 10px;
}
.DialogProgressbar.ui-dialog .ui-progressbar .ui-progressbar-value {
    margin:0px;
}

/*----Datatable*/
/*********************************************/
table.dataTable tbody tr.selected td {
    background-color: #b0bed9;
}

/*----Datatable*/
/*********************************************/
.fa-circle.white {
    color:#e8e8e8;
    font-size:20px;
}

.fa-circle.gray {
    color:#b1b1b1;
    font-size:20px;
}

.fa-circle.green {
    color:#00ff21;
    font-size:20px;
}

.fa-circle.yellow {
    color:#ffd800;
    font-size:20px;
}

.fa-circle.red {
    color:#f00;
    font-size:20px;
}

/*----Modal*/
/*********************************************/
.modal-alert-img {
  margin: 0px auto;
  font-size: 40px;
  text-align: center;
  color: #d2d2d2;
  font-weight: normal;
}
.modal-alert-detalle {
  font-size: 14px;
  color: #999999;
  text-align: center;
  font-weight: bold;
}

/*----Formulario*/
/*********************************************/
.input-group-full {
    width:inherit!important;
    width:100%!important;
}
.input-group-full .input-group-addon{
    padding: 0px;
    border: 1px solid #b1b1b1;
    background: none;
    border-left: none;
    width:1%!important;
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}
.input-group-full .input-group-addon .btn:hover,
.input-group-full .input-group-addon .btn:focus{
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.input-group-full .input-group:hover .input-group-addon {
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}
.input-group-full .input-group-addon .btn{
    height: 100%;
    border: none;
    padding: 0px 18px;
    background:none;
}